/* @font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url(~assets/Oxygen/Oxygen-Regular.ttf),
    format("truetype");
} */

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 200;
	/* font-style: italic; */
}

html {
	font-family: "Roboto";
}
